<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Churn Predicting</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ 'dashboard' | page}}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ 'predictions' | page}}">Predictions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ 'models' | page}}">Models</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{ 'settings' | page}}">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-request="onLogout" data-request-data="redirect: '/'">Sign out</a>
        </li>
        </ul>
    </div>
    </nav>
</header>


